# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Amit D. Bansil
	email = amit@bansil.org
[alias]
	co = checkout
	c = commit
	cnv = commit --no-verify
	ca = commit -a
	s = status
	b = branch
	d = diff
	m = merge
	md = !git fetch && git merge origin/develop
	p = push
	pl = pull
	f = fetch
	l = log
	a = add
	aa = add -A
	cb = !git rev-parse --abbrev-ref HEAD | pbcopy
	cp = cherry-pick
	st = stash
	wt = worktree
	
[push]
	autoSetupRemote = true
[core]
	editor = code --wait
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
	cmd = code --wait $MERGED
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	algorithm = histogram
[commit]
	verbose = true
